
div.pc{
    aspect-ratio: 1/2;
}
input[type=checkbox].pyy{
    width: 20px;
    height: 20px;
}
input[type=radio].p{
    width: 20px;
    height: 20px;
}
@media only screen and (max-width: 768px) {
    input[type=checkbox].pyy{
        transform: scale(4);
    }
    input[type=radio].p{
        transform: scale(4);
    }
}